@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
  }
  
body{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }

.banner{
  background-image: url(/img/bg.jpg);
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
a::after{
  transition: 0.5s;
}
.nav {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: aliceblue;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  position: relative;
}

.nav ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

#content-info{
  margin-top: 5%;
  font-size:7rem;
  margin-left: 10%;
  width: 50%;
  line-height: 1;
  color: #3D4A64;
}

#content-info::first-line{
  color: #4F4F4F;
}

#secondNav, #secondNav ul a{
  color:#3D4A64 ;
}

.logoSec{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  line-height: 1;
}

.logoName::first-line{
  color: #4F4F4F;
}


#historySection{
  background-image: url(/img/bg-2.png);
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100vh;
}

.historyHead{
  display: flex;
  flex-direction: column;
}

.historyHead h1{
  display: inline-block;
  margin-left: 10%;
  opacity: 0.3;
  color:  #435b8a;
  font-size: 6.5rem;
  display: inline;
}

.numSec{
  display: flex;
  align-items: center;
}

.numSec span{
  display: block;
  width: 20px;
  height: 20px;
  background-color: #435b8a;
  opacity: 0.3;
}

.numSec h2{
  margin-top: 20px;
}

.historyHead h2{
  display: inline;
  color: #435b8a;
}

.historyHead p{
  margin-left: 15%;
  width: 60%;
  text-align: start;
  color:#435b8a;
  font-weight: 500;
  background-color: #fff;
  opacity: .8;
  padding: 20px;
  border-radius: 10px;
}

.border{
  border: 1px solid;
}

.carousel-container{
  position: absolute;
  bottom: 0;
  background: linear-gradient(rgba(60,72,95,0.75), rgba(60,72,95,0.75));
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}

.carousel{
  width: 900px;
  display: flex;
  overflow-x: scroll;
  z-index: 2;
}

.carousel::-webkit-scrollbar{
  display: none ;
}

.carousel .slide{
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  transition: transform 0.5s ease-in-out;
  flex: none;
}

.carousel .slide img{
  width: 100%;
  height: auto;
  
}

.teamHead{
  display: flex;
  background-color: #fff;
  color:  #435b8a;
  align-items: center;
  padding: 10px 0;
  margin-left: 10%;  
}

.teamHead h2{
  margin:5px ;
  margin-top: 20px;

}

.teamHead h1{
  opacity: 0.3;
  font-size: 6.5rem;
}

.teamHead p{
  width: 60%;
  text-align: start;
  font-weight: 200;
  margin-left: 50px;
}

.teamMain{
  background-image: url(/img/bg-3.png);
  background-size:cover ;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.tabContainer{
  display: flex;
  background-color:  #435b8a;
  opacity: 0.8;
  color: #B0B4BE;
  font-size: 25px;
  font-weight: 700;
}

.tab{
  display: flex;
  gap: 20px;
  margin-left: 10%;
}

.tab span{
  padding: 10px 0;
  margin: 10px 0;
  
}
.table{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center ;
  background-color: #fff;
  opacity: 0.8;
  width: fit-content;
  padding: 30px;
  margin-top: 10%;
  margin-left: 10%;
  border-radius: 5px;
}

.table div span{
padding-right: 20px;
}

#footerSection{
  background-color: #435b8a;
}

.footer{
  width: 85%;
  margin: auto;
  padding: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

@media (max-width:600px) {
  #content-info{
    font-size: 3rem;
    margin-top: 40%;
  }

  #secondNav ul{
    display: flex;
    flex-direction: row;
  }

  .numSec{
    justify-content: center;
  }
  
  .historyHead p{
    background-color: #fff;
    opacity: .8;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
  }
  .teamHead{
    flex-direction: column;
    margin-left: 0;
  }

  .teamHead div p{
  margin-left: 70px;
  }

  .teamHead h2{
    margin-top: 23px;
  }

  .tabContainer{
      justify-content: center;
      font-size: 15px;
      
    }

  .tab{
    margin-left: 0;
  }
  .table{
    margin-top: 40%;
    width: 60%;
  }

  .teamHead{
    padding: 20px;
  }
  .teamHead p{
    flex-direction: colu;
    font-size: 10px;
  }

  .footer{
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
  }

  .carousel .slide{
    gap: 0;
    padding:20px;
  }
  .carousel .slide img{
    width: 80%;
    gap: 5px;
  }
}